<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ads.mapper.LogMapper">
    <resultMap id="BaseResultMap" type="com.ads.entity.LogEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="pn" jdbcType="VARCHAR" property="pn"/>
        <result column="os" jdbcType="TINYINT" property="os"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="ip_detail" jdbcType="VARCHAR" property="ipDetail"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="detail" jdbcType="VARCHAR" property="detail"/>
        <result column="date_time" jdbcType="TIMESTAMP" property="dateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , appid, pn, os, ip,phone, ip_detail, token, status, detail, date_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from jiagu_sdk_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from jiagu_sdk_log
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ads.entity.LogEntity">
        insert into jiagu_sdk_log (id, appid, pn,
                                   os, ip, phone, ip_detail, token, status)
        values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR},
                #{pn,jdbcType=VARCHAR},
                #{os,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR},
                #{ipDetail,jdbcType=VARCHAR},
                #{token,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
    </insert>
    <update id="updateByToken">
        update jiagu_sdk_log
        set status = #{status,jdbcType=TINYINT},
            detail = #{detail,jdbcType=VARCHAR}
        where token = #{token,jdbcType=VARCHAR}
    </update>
    <insert id="insertSelective" parameterType="com.ads.entity.LogEntity">
        insert into jiagu_sdk_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="appid != null">
                appid,
            </if>
            <if test="pn != null">
                pn,
            </if>
            <if test="os != null">
                os,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="dateTime != null">
                date_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="pn != null">
                #{pn,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                #{os,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="dateTime != null">
                #{dateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.ads.entity.LogEntity">
        update jiagu_sdk_log
        <set>
            <if test="appid != null">
                appid = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="pn != null">
                pn = #{pn,jdbcType=VARCHAR},
            </if>
            <if test="os != null">
                os = #{os,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="ipDetail != null">
                ip_detail = #{ipDetail,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="dateTime != null">
                date_time = #{dateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ads.entity.LogEntity">
        update jiagu_sdk_log
        set appid     = #{appid,jdbcType=VARCHAR},
            pn        = #{pn,jdbcType=VARCHAR},
            os        = #{os,jdbcType=VARCHAR},
            ip        = #{ip,jdbcType=VARCHAR},
            token     = #{token,jdbcType=VARCHAR},
            status    = #{status,jdbcType=TINYINT},
            detail    = #{detail,jdbcType=VARCHAR},
            date_time = #{dateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>